/*here create a general font for the page, and set the background*/
body {
  font-family: "Segoe UI Light", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
  background: #e8ebed;
  padding: 20px;
}

/* set title to center*/
h1{
  text-align:center;
}

.trade-button{
  display:inline;
  position: relative;
  float: right;
  text-align:center;
  background-color: #9ccbeb;
  border:none;
  height: 50px;
  width: 30%;
}

.button{
  background-color:#fff;
  border:none;
  font-family: "Segoe UI Light", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif; 
  font-size: 100%;
  text-align:left;
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 0.2em;
  margin: 0em;
  flex-grow: 1; /*allows button to be size of the division box*/
}
/* use flex-wrap to make the size of each division box*/
.conference {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
/* we want each division to be 1/3 the page so account for margins and calculate 1/3 page - 30 pixels 
(anything less won't give me the 3 x 2 layout, but subtracting more doesn't change anything?) */
.division {
  margin: 0 15px;
  flex: 1 0 calc(33.33% - 30px);
}

.division-title {
  /*nothing done yet */
}

/* set the background of the division box to be white*/
.teams {
  background: #fff;
  padding: 10px;
  list-style: none;
}
/*pad room inbetween each team within the rows*/
.team {
  display: flex;
  align-items: center;
  padding: 0.5px 0;
}
/*pad some room after the logo*/
.team__logo {
  z-index: -1;
  
  margin-right: 10px;
}

.selected{
 /*someday may want to change select color*/  
}
