#header {
  font-family:"Segoe UI Light", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



li{
  font-size: 24px;
}
.team-holder{

left:30%;
  position: absolute;
}
.nav {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.row{

  text-align: center;
  display: table-row;

}
div.element{

  display: table-cell;
  border-style:solid;
  padding-left: 15px;
}
.team-holder:after{
  content: " ";
  display:block;
  clear:both;
}
